html, body {
    margin: 0;
    padding: 0;
 }
body{
    background-color: rgb(207, 207, 207);
}
header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(8, 9, 24);
    color:white;

    /*position:fixed;/**/
    top:0;
}
main{
    display: block;
    width:100%;
}
h1{
    font-size:18px;
    height: 22px;
}
nav{
    display: flex;
    justify-content: center;
    border:black 1px solid;
    align-items: center;

}
a{
    margin:0;
    display: block;
    height: 100%;
    color: rgb(255, 255, 255);
    width: 100%;
    border: rgb(202, 202, 202) 1px solid;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover{
    background-color:rgb(21, 6, 107);
    color: rgb(255, 255, 255);
}
a:active{
    background-color:rgb(21, 0, 141);
}


div{
    display: inline-block;
    width: 200px;
    border: 2px double black;
    background-color: white;
    border-radius: 3px;
    margin: 2px;
}
li{
    list-style: none;
    border-bottom:1px solid black;
}